.attach_pid2841
/.output
/.vscode
/Java/.vscode
/java/jobsheet 11/src
/Java/NetBeans Project/AlgoritmaStruktuData/nbproject/private/
/Java/NetBeans Project/AlgoritmaStruktuData/build/
/Java/NetBeans Project/ArrayObjects/nbproject/private/
/Java/NetBeans Project/ArrayObjects/build/
/Java/NetBeans Project/ArrayBalok/nbproject/private/
/Java/NetBeans Project/ArrayBalok/build/
/Java/NetBeans Project/AljabarLinier/nbproject/private/
/Java/NetBeans Project/AljabarLinier/build/
/Java/NetBeans Project/AljabarLinier/dist/
/Python/PyCharm/